html,body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.landupper{
	height:100vh;
}
.landlower{
	background-color:#EFF2C0;
	height:100vh;

}
.logo{
	background-color:purple;
	height:25vh;
	margin-top:10vh;
}
.img{
	display:block;
	margin:auto;
	margin-top:20vh;
}
.lab{
	text-align:center;
	color:black;
	font-size:3rem;
	font-family: 'Fjalla One', sans-serif;
}
.boton{
	margin-top:2vh;
	font-size:2rem;
	font-family: 'Fjalla One', sans-serif;

}
.fhalf{
	height:80vh;
	background-color:#2C2C2C;

}
.shalf{
	height:80vh;
	background-color:#2C2C2C;
}
.snt{
	width:90%;
	height:70%;
	background-color:transparent;
	color:white;
	margin-left:5%;
	font-size:2rem;
	margin-top:2.5%;
	font-family: 'Hind', sans-serif;
	text-align:justify;
}
.titulo{
	font-size:3rem;
	margin-left:5%;
	display:inline-block;
	color:white;
	margin-top:10%;
	font-family: 'Fjalla One', sans-serif;
	border-bottom:solid;
	border-bottom-width:1px;
	
}
.landlower2{
	height:100vh;
	width:100%;
}
ul>li{
	font-family: 'Hind', sans-serif;
	font-size:1.8rem;
}
.navbar-brand{
	font-family: 'Hind', sans-serif;
	font-size:2rem;
}
.servicios{
	height:100vh;
}
.cover{
	height:100vh;
	width:33.33%;
	background-color:#151819;
}
.salud{
	background-color:#176B6B;
	height:100vh;
}
.gestiones{
	background-color:#151819;
	height:100vh;
}
.img3{
	background-color:#151819;
	height:25vh;
	margin-top:5vh;
}
.img4{
	background-color:#176B6B;
	height:25vh;
	margin-top:5vh;
}
.a{
	width:100%;
	font-size:2.5rem;
	transform:bold;
	font-family: 'Fjalla One', sans-serif;
	color:white;
	text-align:center;
	display:inline-block;
	margin-top:0%;
}
.aa{
		width:100%;
	font-size:2.5rem;
	transform:bold;
	font-family: 'Fjalla One', sans-serif;
	color:white;
	text-align:center;
	display:inline-block;
	margin-top:0%;
}
.aaa{
	width:100%;
	font-size:2.5rem;
	transform:bold;
	font-family: 'Fjalla One', sans-serif;
	color:white;
	text-align:center;
	display:inline-block;
	margin-top:0%;
}
.re{
	align-content:center;
	margin:auto;
	margin-top:5%;
	display:block;
}
.about{
	color:white;
	text-align:justify;
	display:inline-block;
	font-size:2rem;
	margin-top:;
}
.debajo{
	background-color:red;
	border-top-style:solid;
	border-top-color:white;
	height:20vh;
	margin-top:80vh;
}
.imag{
	margin:auto;
	width:100%;
	height:100%;
}
.well{
	color:black;
	background-color:gray;
}
ul{
	
}
#double li {
	font-size:1.5rem;
}
#doublee li{
	font-size:1.5rem;
}
#double3 li{
	font-size:1.5rem;
}
#bs-example-navbar-collapse-6{
	background-color:;
}
/* A partir de aqui es el css para el dashboard*/


body{
width:100vw;
height:100vh;


}
.side{
	background-color:#3a3b3b;
	width:15vw;
	height:92vh;
	float:left;
}
.head{
	width:100%;
	height:8vh;
	background-color:purple;

}
.lefted{
	width:85vw;
	height:92vh;
	background-color:green;
	float:left;
}
.ws1{
	width:40vw;
	height:40vh;
	background-color:gray;
	float:left;
	margin-left:2vw;
	margin-top:2vh;
}
.ws2{
	width:40vw;
	height:40vh;
	background-color:pink;
	float:left;
	margin-left:1vw;
	margin-top:2vh;
}
.sws1{
	width:40vw;
	height:15vh;
	background-color:white;
	float:left;
	margin-left:2vw;
	margin-top:2vh;
}
.sws2{
	width:40vw;
	height:15vh;
	background-color:white;
	float:left;
	margin-left:1vw;
	margin-top:2vh;
}
.separador{
	width:81vw;
	height:10vh;
	background-color:magenta;
	margin-left:3.5vh;
	margin-top:3vh;
	float:left;
}
.caja1{
	height:150px;
	width:100%;
	display:inline-block;
	border-bottom:#1E1F1F;
	border-bottom-width:1px;
	border-bottom-style:solid;
	background-color:#3A3B3B;
}
.pp{
	border-radius:50%;
	width:100px;
	height:100px;
	display:inline-block;
	margin-left:25%;
	margin-top:10%;
}
.lbl{
	  display: block;
    text-align: center;
    line-height: 150%;
	color:white;
	font-size:1.5rem;
	font-family: 'Hind', sans-serif;
}
.back{
	height:100vh;
	background-color:black;
}
.container{
	width:95vw;
	height:90vh;
	border-radius:20px;
	margin-top:5vh;
	margin-left:2.5vw;
	float:left;
	background-color:rgba(250,250,250,0.2);
	
}
.formlog{
	width:40%;
	height:40vh;

	display:inline-block;
	margin: 0 auto;
	margin-left:30%;
	background-color:rgba(250,250,250,0.2);

}
.inp{
	border-bottom-width:1px;
	border-bottom-color:white;
	border-top:none;
	border-left:none;
	border-right:none;
	width:20vh;
	background-color:transparent;
	color:white;
 	display:inline-block;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: 150px;
    margin: auto;
}
.container{
	margin-top:3%;

}
.fondo{
	background-color:#B9B9B9;
	width:100vw;
	height:100vh;
}
.panel-default{
	margin-top:40%;
}
.list-group{
	width:100%;
	margin-top:10%;
	display:inline-block;
	font-size:2rem;
	color:white;
}
.list-group-item{
	background-color:#3a3b3b;
	margin-top:5%;
	border-left:none;
	border-right: none;
	border-top:none;
	border-bottom-color:black;
}
.list-group-item:hover{
	background-color:red;
}
a.list-group-item, button.list-group-item{
	color:white;
}

#titulopie{
	color:black;
	font-size:1.5rem;
	text-align:center;
	display:block;
}
.navbar{
	margin-bottom:0;
	border-radius:0;
}

element.style {
    display: block;
    width: 300px;
    height: 273px;
}